body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 20px;
  overflow: hidden;
  height: 100vh;
  background: #ffffff;
  perspective: 1000px;
  transform-style: preserve-3d;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  font-family: 'Montserrat','Roboto', sans-serif;
  text-decoration: none;
  list-style: none;
}

.card {
  margin: 15px;
  perspective: 1000px;
  transform-style: preserve-3d;
  position: relative;
}

.card__item {
  cursor: pointer;
  padding: 32px 24px 32px 20px;
  width: 265px;
  height: 275px;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, .1);
  transition: all 0.2s;
  animation: title 1s ease-in-out;
  font-size: 40px;
  background-size: 0.1em 0.1em, 0.1em 0.1em, 100% 100%;
  perspective: 1000px;
}

.card__item:hover {
  cursor: pointer;
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, .3);
}

.card__item-green {
  background: #40e298;
  color: #FFFFFF;
}

.card__item-white {
  background: #FFFFFF;
  color: #838383;
}

.card__item-level {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 32px;
  padding-left: 4px;
}

.card__item-star {
  position: relative;
  width: 58px;
  height: 58px;
  background: rgba(0, 0, 0, .1);
  border-radius: 50%;
}

.card__item-star-empty {
  background: transparent;
}

.card__item-star img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28px;
}

.card__item-requirements {
  font-family: 'Open Sans', sans-serif;
  margin-top: 6px;
  text-align: right;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1.25px;
}

.card__item-confirm {
  margin: 7px 0 20px 0;
  height: 75px;
}

.card__item-line {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.45px;
}

.card__item-line:not(:last-child) {
  margin-bottom: 1.4px;
}

.card__item-line img {
  margin-left: 10px;
  width: 24px;
}

.card__item-circle {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 2px solid #838383;
  margin-left: 14.2px;
}

.card__item-annual {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 6px;
  text-align: right;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: -0.3px;
}

.card__item-white .card__item-confirm  {
  margin: 11px 5px 16px 0;
  letter-spacing: -0.25px;
}

.card__item-white .card__item-annual  {
  margin: 0;
  letter-spacing: -0.25px;
}

.card__item-white .card__item-line:not(:last-child) {
  margin-bottom: 8px;
}
